.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
   display: table-cell!important;
}
#show-progress .success, #show-test .success {
    color: #2C8D46;
}
#show-progress .failed, #show-test .failed {
    color: #CA4A1F;
}
#wwa_log {
    max-width: 100%;
    font-family: Consolas,"Source Code Pro","Liberation Mono","Courier New",Courier,"Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei",monospace;
    white-space: pre;
}
#clear_log {
    margin-top: 3px;
}