.wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
   display: table-cell!important;
}
#show-progress .success, #show-test .success {
    color: #2C8D46;
}
#show-progress .failed, #show-test .failed {
    color: #CA4A1F;
}